version: '3.8'

services:
  api:
    build: .
    container_name: my-api
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - ASPNETCORE_ENVIRONMENT:Production
      - ConnectionStrings__DefaultConnection:${ConnectionStrings__DefaultConnection}
      - Jwt__SecretKey=${Jwt__SecretKey}
    volumes:
      - ./images:/app/images

  db:
    image: mysql:8.0
    container_name: my-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init-sql:/docker-entrypoint-initdb.d

volumes:
  db_data:
